<div class="container">
  <div class="rounded border p-3">
      <h3 class="text-center">{{menu}}Produk</h3>
      <form [formGroup]="formProduk">
          <div>
              <div class="mb-3">
                  <label class="form-label">Nama Produk</label>
                  <input class ="form-control" [class.is-invalid]="formProduk.controls['nama'].invalid && formProduk.controls['nama'].touched" formControlName="nama" type="text">
                  <div class="invalid-feedback" *ngIf="formProduk.controls['nama'].hasError('required')">Nama produk is required</div>
              </div>
              <div class="mb-3" style="width:200px;">
                  <label class="form-label col-11">Nama Produsen</label>
                  <select class="form-control" name="produsen" id="produsen" formControlName="produsen"
                  [class.is-invalid]="formProduk.controls['produsen'].invalid && formProduk.controls['produsen'].touched">
                      <option *ngFor="let item of listProdusen" value="{{item.id}}">{{item.nama}}</option>
                  </select>
                  <div class="invalid-feedback" *ngIf="formProduk.controls['produsen'].hasError('required')">Nama Produsen is required</div>
              </div>
              <div class="mb-3">
                  <label class="form-label">Jenis</label>
                  <input class ="form-control" [class.is-invalid]="formProduk.controls['jenis'].invalid && formProduk.controls['jenis'].touched" formControlName="jenis" type="text">
                  <div class="invalid-feedback" *ngIf="formProduk.controls['jenis'].hasError('required')">Jenis is required</div>
              </div>
              <div class="mb-3">
                  <label class="form-label">Berat</label>
                  <input class ="form-control" [class.is-invalid]="formProduk.controls['berat'].invalid && formProduk.controls['berat'].touched" formControlName="berat">
                  <div class="invalid-feedback" *ngIf="formProduk.controls['berat'].hasError('required')">Berat is required</div>
              </div>
              <div class="mb-3">
                  <label class="form-label">Harga</label>
                  <input class ="form-control" [class.is-invalid]="formProduk.controls['harga'].invalid && formProduk.controls['harga'].touched" formControlName="harga">
                  <div class="invalid-feedback" *ngIf="formProduk.controls['harga'].hasError('required')">Harga is required</div>
              </div>
              <div>
                  <button class="btn btn-primary" [disabled]="formProduk.invalid" (click)="save()">{{menu}}</button>
              </div>
          </div>
      </form>
  </div>
</div>
